<ul class="nav">
  <% if user_signed_in? %>
    <li><%= link_to t('ecm.user_area.actions.registration.edit'), edit_user_registration_path %></li>
    <li><%= link_to t('ecm.user_area.actions.sign_out'), destroy_user_session_path, :method => :delete %></li>
  <% else %>
    <li><%= link_to t('ecm.user_area.actions.sign_in'), new_user_session_path %></li>
    <li><%= link_to t('ecm.user_area.actions.registration.new'), new_user_registration_path  %></li>
  <% end %>
</ul>
